/* RESET  */
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}



.header {
    height: calc(100vh - 80px);
    width: 45px;
    background-color: black;
    position: fixed;
   
}

#small-logo {
    width: 24px;
    margin: 0 auto;
    padding-top: 10px;
}

.header-tool-bar {
    width: 100%;
}

.white-emoji {
    color: white;
    margin: 0 auto;
    padding: 10px 0px;
}

.big-emoji {
    font-size: 18px;
}

.small-emoji {
    width: 16px;
}

.profile-pic {
    height: 18px;
    width: 18px;
    object-fit: contain;
    margin: 0 auto;
    border: solid 1px white;
    border-radius: 50%;
    background-color: gray;
    margin-bottom: 10px;
    background-image: url(img/profile.svg);

}

.space-between {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.account {
    color: white;
}


.nav-text {
    padding: 5px 0px 20px 30px;
    font-size: 12px;
    color: #7A7C82;
}

#upgrade {
    
    margin: 10px 5px 10px 50px;
    border: 1px solid white;
    background-color: none;
    border-radius: 30px;
    padding: 10px 20px;
    background-color: #090B13;
    color: white;
    position: absolute;
    top: 5px;
    right: 0px;
}

.text-center {
    width: 87vw;
    padding-top: 10px; 
}
.flex-row-wrap-center {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}



/* .main-top {
    height: 80px;
    width: 100%;
    background-color: #090B13;
    position: fixed;
} */

.flex-row {
    display: flex;
   
}

.main-center {
    background-color: #141922;
    height: 100%;
    width: 100vw;
    color: white;
    /* margin-left:40px ;
    margin-top: 90px; */
    margin: 0px 0px 80px 40px;
    
    
   
}

.image img{
    width: 190px;

    
}

.image h3 {
    padding-bottom: 5px;
    font-size: 16px;
    width: 190px;
    padding-top: 15px;
    
}

.image p {
    color:#7B7E83;
    font-size: 10px;
    text-align: center;
}

.image {
    text-align: center;
    margin-bottom:10px ;
    padding: 10px 0px 00px 20px;

}


.flex-row-wrap {
    display: flex;
    flex-wrap: wrap;
}




.flex-column {
    display: flex;
    flex-direction: column;
}

.task-bar {
    height: 80px;
    width: 100%;
    background-color: #282828;
    position: fixed;
    bottom: 0;
   

    
}














 /* SMALL RESPONSIVE LAYOUT*/

 @media screen and (min-width: 576px) {
    .container { min-width: 576px;
    }
    .header {
        width: 200px;
    }

    .main-center {
        margin-left:200px ;
    }

    .text-center {
        width: 60vw;

    }

}











/* MEDIUM RESPONSIVE LAYOUT  */

@media screen and (min-width: 768px) {
    .container { min-width: 768px;
    }

    .text-center {
        width: 70vw;

    }










    /* LARGE RESPONSIVE LAYOUT  */

@media screen and (min-width: 992px) {
    .container { min-width: 992px;
    }

    .text-center {
        margin-left: 200px;
        text-align: center;

    }