/* RESET  */
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}





.header {
    height: calc(100vh - 80px);
    width: 45px;
    background-color: black;
    position: fixed;
}

.playlist h2 {
    color: white;
    padding: 5px 0px;
    margin: 20px 0px 0px 20px;
    font-size: 18px;
}

#square-box {
    /* width: 30px;
    height: 30px;
    background-color: #7A7C82; */
    
    margin: 20px 5px 10px 20px;
}

.playlist {
    color: #7A7C82;
    display: none;
}

#square-box > span {
    font-size: 22px;
    font-weight: 700;
    padding: 8px 15px;
    background-color: #7A7C82;
    color: #090B13;
}

ul {
    list-style: none;
    margin: 10px 5px 0px 20px;
    line-height: 2.2;
}

.playlist p {
    color: #7A7C82;
    margin: 20px 0px 10px 5px;
}

.main-center > h2 {
    margin: 0px 0px 20px 10px;
}

#small-logo {
    width: 24px;
    margin: 0 auto;
    padding-top: 10px;
}

#big-logo {
    display: none;
}

.big-emoji > p {
    display: none;
}

.small-emoji > p {
    display: none;
    font-size: 10px;
    padding-left: 5px;
}

hr {
    color: white;
    width: 80%;
    margin: 5px auto 20px auto;
    display: none;

}

.header-tool-bar-mobile {
    width: 100%;
}


.white-emoji {
    color: white;
    margin: 0 auto;
    padding: 5px 0px;
}

.gray-emoji {
    color: #7A7C82;
    margin: 0 auto;
    padding: 5px 0px;
}

.big-emoji {
    font-size: 18px;
}

.small-emoji img{
    width: 14px;
    margin-bottom: 10px;
}

.profile-pic {
    height: 24px;
    width: 24px;
    object-fit: contain;
    margin: 0 auto;
    border: solid 1px white;
    border-radius: 50%;
    background-color: gray;
    margin-bottom: 10px;
    background-image: url(img/profile.svg);
}


.flex-row-justify p {
    display: none;
    margin-bottom: 10px;
}

.space-between {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.account-mobile {
    color: white;
}


.nav-text {
    padding: 5px 0px 20px 20px;
    font-size: 12px;
    color: #7A7C82;
}

#upgrade {
    
    margin: 10px 5px 10px 50px;
    border: 1px solid white;
    background-color: none;
    border-radius: 30px;
    padding: 10px 20px;
    background-color: #090B13;
    color: white;
    position: absolute;
    top: 5px;
    right: 0px;
}

.text-center {
    width: calc(100% - 45px);
    padding-top: 10px; 
}
.flex-row-wrap-center {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}



.main-top {
    height: 80px;
    width: 100%;
    background-color: #090B13;
   
}

.flex-row {
    display: flex;
   
}

.flex-row-justify {
    display: flex;
    align-items: center;
   
}

.main-center {
    background-color: #141922;
    height: 100%;
    width: calc(100% - 45px);
    color: white;
    /* margin-left:40px ;
    margin-top: 90px; */
    margin: 0px 0px 80px 40px;
}

.image img{
    /* width: 190px; */
    width: 100%;
    height: auto;

    
}

.image h3 {
    padding-bottom: 5px;
    font-size: 16px;
    width: 190px;
    padding-top: 10px;
    
}

.image p {
    color:#7B7E83;
    font-size: 10px;
    text-align: center;
}

.image {
    width: 50%;
    text-align: center;
    margin-bottom:10px ;
    padding: 10px 10px 0px 10px;

}

.second-row {
    margin: 35px 0px 40px 20px;
}

.image-second {
    padding: 10px 10px 0px 10px;
    width: 50%;
}

.image-second img {
    width: 100%;
    height: auto;
}

.image-second h3 {
    padding-bottom: 5px;
    font-size: 16px;
    width: 190px;
    padding-top: 10px;
    text-align: center;
}


.second-row p {
    color:#7B7E83;
    margin: 10px 0 25px 0;
}


.image-circle img {
    border-radius: 50%;
}

.flex-row-wrap {
    display: flex;
    flex-wrap: wrap;   
}




.flex-column {
    display: flex;
    flex-direction: column;
}

.task-bar {
    height: 80px;
    width: 100%;
    background-color: #282828;
    position: fixed;
    bottom: 0;
}

.task-bar-image img {
    width: 100%;
    height: auto;
 

}

.task-bar-image {
    margin: 7px 15px 7px 7px;

}


.task-bar-image {
    width: 8%;
    height: auto;
}

.text-image-task-bar {
    font-size:10px;
    padding: 0px 10px 0 0;
}

.task-bar-container {
    height: 100%;
}

.flex-row-align {
    height: 100%;
    
    display: flex;
    align-items: center;
   
}
.text-image-task-bar h4 {
    color: white;
}

.text-image-task-bar p {
    color: #7A7C82;
}

.task-bar-like {
    color: #7A7C82;
    padding: 15px 30px 0 0;
}

.task-bar-like i {
   margin-bottom: 5px;

}

.button-and-bar  {
    width: 33vw;
    color: white;
    /* margin: auto; */
}

.button-section {
    
}

.flex-column-space {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.flex-row-spaced {
    display: flex;
    justify-content: space-between;
}

.play-bar hr {
    width: 100%;
   

}







 /* SMALL RESPONSIVE LAYOUT*/

 @media screen and (min-width: 576px) {
    .container { min-width: 576px;
    }
    
    .header {
        width: 200px;
    }

    .main-center {
        margin-left:200px;
        width: calc(100% - 200px);
    }

    .text-center {
        width: 60vw;

    }

    #small-logo {
        display: none;
    }

    #big-logo { 
        display: inline-block;
        width: 110px;
        margin: 20px 0px 25px 15px;
     
    }

    .big-emoji {
        margin: 0px 20px;
        
    }

    .big-emoji > p {
        display: inline-block;
        font-size: 16px;
        padding-left: 10px;
    }
    
    .white-emoji {
        margin: 0px 20px;
    }

    .gray-emoji {
        margin: 0px 20px;
    }

    .small-emoji > p {
        display: inline-block;
        font-size: 16px;
        line-height: 14px;
    }

    hr {
        display: block;
    }

    .profile-pic {
        margin: 0px 10px 10px 20px;
    }

    /* .flex-row {
        align-items: center;
    } */

    .flex-row-justify p {
        display: inline-block;
        
    }
    
    .playlist {
        display: block;
    }


    .task-bar-image {
        max-width: 50px
      
    
        
    }
}











/* MEDIUM RESPONSIVE LAYOUT  */

@media screen and (min-width: 768px) {
    .container { min-width: 768px;
    }

    .image, .image-second{
        width: 25%;
    }

   









    /* LARGE RESPONSIVE LAYOUT  */

@media screen and (min-width: 992px) {
    .container { min-width: 992px;
    }

    .text-center {
        margin-left: 200px;
        text-align: center;

    }

    .image, .image-second {
        width: calc(100% / 6);
      
    }